<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Lewis-Fam/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="LewisFam" />
      <add key="ClearTextPassword" value="oy2dc7c4a7k5mwcc3dyqvhdarw3ml7juvkyc745lvrgtg4" />
    </github>
  </packageSourceCredentials>
</configuration>